.box{
  background: red;
  height: 500px;
  width: 490px;

  display: grid;
  /* grid-template-columns: [y1] 80px [y1end y2start] auto [y3] 100px [y4]; */
  grid-template-columns: repeat(3, 100px [y]);
  grid-template-rows: [x1] 25% auto [x4] 100px [x5];
  grid-template-areas: 
    "header header header header"
    "aside body body body"
    "footer footer footer footer";
  column-gap: 10px;
  row-gap: 10px;
  justify-items: stretch;
  align-items: end;
  justify-content: space-evenly;
}

.item{
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  background: yellow;
}
.item:nth-child(1){
  grid-area: header;
}
.item:nth-child(2){
  grid-area: aside;
}
.item:nth-child(3){
  grid-area: body;
}
.item:nth-child(4){
  grid-area: footer;
}