.box{
  display: grid;
  grid-template-rows: repeat(12, 100px);
  grid-template-columns: [c1] 2fr 20% 200px;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  --color: yellow;
}
.item{
  background: var(--color, red);
}