@use 'sass:map';

@use 'foundation/code';
@use 'foundation/list';
@use 'mixins/corners' as c;
@use 'common/var' as *;

:root{
  @debug $loading;
  --el-spinner-size: #{map.get($loading, 'spinner-size')};
  // @each $name, $value in $loading {
  //   --el-#{$name}: #{$value};
  // }
  --color: 20px;
}
body{
  margin: 0;
  font-size: var(--el-spinner-size);
  background-color: var(--color, yellow);
}

.box{
  @include c.rounded;
  // padding: 50px + c.$_radius;
}

@include c.order(15px, 'input.name', 'input.test') {
  color: red;
}

@include c.b(loading-parent){
  color: red;
  @include c.m(relative){
    position: relative !important;
  }
}

@include c.test
